<?xml version="1.0" encoding="utf-8"?>
<!-- Configure the file option 'Copy to output directory' as 'Copy always' -->
<configuration>
  <configSections>
  </configSections>

  <connectionStrings>
    <add name="Nzr.Orm.Core" connectionString="Integrated Security=true;Initial Catalog=nzr.orm.core;Server=BLMG01DE-NTB004" providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>